.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li {
  list-style: none;
}
#btn {
  height: 35px;
  width: 70px;
  margin-top: 10px;
  background-color: #000000;
  color: white;
  border-radius: 3px;
}
.bttn {
}
.input {
  height: 30px;
  width: 300px;

  /* margin-right: 50px; */
}
.head {
  margin: 150px 0px 50px 0px;
}

.remove {
  background-color: red;
  border-color: red;
  border-radius: 3px;
}
body {
  background-image: linear-gradient(rgb(132, 138, 209), rgb(255, 0, 183));
  height: 100vh;
}
